<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <!-- <p>Display the details of the Dish here</p> -->
    <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
        <mat-card-content>
          <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button (click)="goBack()">Back</button>
          <button mat-button>Like</button>
          <button mat-button>Share</button>
          <button mat-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <!-- <p>Display the list of comments here</p> -->
    <mat-list>
      <h3>Comments</h3>
      <mat-list-item *ngFor="let comment of dish.comments">
        <p matLine>{{comment.comment}}</p>
        <p matLine>{{comment.rating}} stars</p>
        <p matLine>-- {{comment.author}} {{comment.date | date}}</p>
      </mat-list-item>
    </mat-list>

    <mat-list *ngIf="commentForm.valid">
      <mat-list-item>
        <p matLine>{{commentForm.get('comment').value}}</p>
        <p matLine>{{commentForm.get('rating').value}} stars</p>
        <p matLine>-- {{commentForm.get('author').value}}</p>
      </mat-list-item>
    </mat-list>

    <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="full-width">
          <input matInput formControlName="author" placeholder="Name" type="text">
            <mat-error *ngIf="formErrors.author">
              {{ formErrors.author }}
            </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-slider min="1" max="5"  thumbLabel tickInterval="1" formControlName="rating"></mat-slider>
      </p>
      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
          <mat-error *ngIf="formErrors.comment">
            {{ formErrors.comment }}
          </mat-error>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
    </form>

  </div>

  <div fxFlex [hidden]="dish || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading ... Please Wait!</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{ errMess }}</h4>
  </div>
  
</div>
